<%= render "layouts/error_messages", model: @item %>
<div class="form-group">
<%= form_for(@item) do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, placeholder: "Title for this Item", class: "form-control body-input" %>

  <%= f.label :content, "Content text" %>
  <%= f.text_area :content, rows: 20, columns: 30, class: "form-control body-input" %>

  <%= f.submit "Create new", class: "btn btn-outline-primary" %>
<% end %>
</div>
