<h1 class="item-title"><%= item.title %></h1>
<%= link_to("Edit", edit_item_path(item), class: "btn btn-outline-dark") if item.user == current_user %>
<br>
<%= item.user.screen_name %>
<p><img src="https://img.icons8.com/material-outlined/15/000000/hearts.png"> <%= item.liked_users.length %></p>
<hr>
<% if item.slidable %>
  <%= render "slidable_item", title: item.title, content: item.content %>
<% else %>
  <%= raw md2html item.content %><br>
<% end %>
<hr>
<br>
<% if logged_in? %>
  <%= link_to like_item_path, id: "like-or-unlike", remote: true do %>
    <% if current_user.like?(item) %>
      <img src="https://img.icons8.com/material/24/000000/hearts.png">
    <% else %>
      <img src="https://img.icons8.com/material-outlined/24/000000/hearts.png">
    <% end %>
  <% end %>
<% end %>
