<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "ASK", root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Index", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? %>
            <%= link_to current_user.id_name, user_path(current_user.id_name), class: "dropdown-item" %>
            <%= link_to "Setting", edit_user_path(current_user.id_name), class: "dropdown-item" %>
            <%= link_to "Items", "#", class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Login/Signup", login_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
