<ul class="topnav">
  <li><%= link_to "ASK", root_url %></li>
  <% if logged_in? %>
    <li><%= link_to "MyPage", current_user %></li>
    <li><%= link_to "New", new_item_path %></li>
    <li><%= link_to "LogOut", logout_path %></li>
  <% else %>
    <li><%= link_to "LogIn", login_path %></li>
  <% end %>
</ul>
