<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
      <%= yield %>
      <% unless Rails.env.production? %>
        <%= debug params %>
        <%= debug session[:user_id] %>
        <%= debug cookies[:remember_token] %> 
        <%= debug cookies.signed[:user_id] %>
      <% end %>
    </div>
  </body>
</html>
